@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
/* customise margin on carousel */
.custom-slider .slick-slide{
margin-left: 10px;
margin-right: 10px;
}
.product-custom-slider .slick-slide{
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 8px;
  }

  .number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  opacity: 1;
  display: inline-block;
}

